* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* input[type="radio"] {
    display: none;
} */

body {
    background-color: #006eff;
    display: flex;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #0047a54b;
}

.sidebar select {
    padding: 20px 50px;
    font-size: 20pt;
    font-weight: bold;
    width: 100%;
}

.sidebar option {
    font-size: 15pt;
    padding: 10px 20px;
    width: 100%;
}

.floors {
    width: 100%;
    position: relative;
    flex: 5;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.floors .modes {
    width: 100%;
    position: relative;
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.floors .modes .line {
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.floors .auto {
    font-size: 15pt;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.number-box {
    background-color: red;
    margin: 20px;
    display: inline-flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /*border-radius: 45px;*/
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    color: #202030;
}

input[type="number"]:focus {
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num-button {
    color: #3264fe;
    background-color: #ffffff;
    border: none;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
}

.decrement {
    /*padding: 15px 5px 15px 25px;*/
    /*border-radius: 45px 0 0 45px;*/
    padding: 5px;

}

.increment {
    /*padding: 15px 25px 15px 5px;*/
    /*border-radius: 0 45px 45px 0;*/
    padding: 5px;
}

.modes .auto input[type="number"] {
    max-width: 70px;
    height: 70px;
    margin: 10px;
    text-align: center;
    font-size: 30pt;
}

.button-box {
    display: flex;
    max-width: 200px;
}

.modes .manual {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.modes .manual .values {
    overflow: scroll;
    overflow-x: hidden;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.modes .manual .values fieldset {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18pt;
    color: white;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
}

.modes .manual .values fieldset input {
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18pt;
}

.modes .manual .button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
}

.modes .manual .button-section button,
.modes .manual .button-section input[type="submit"] {
    padding: 20px 50px;
    margin: 5px;
    border: none;
    outline: none;
}

.switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 120px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #155fff;
    position: relative;
    padding-right: 120px;
    position: relative;
}

.switch-button:before {
    content: "Manual";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked+.switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
}

.switch-button-checkbox+.switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

.switch-button-checkbox+.switch-button-label:before {
    content: "";
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}

.switch-button-checkbox+.switch-button-label .switch-button-label-span {
    position: relative;
}

.hidden {
    display: none !important;
}

.rows {
    margin-top: 10px;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.rows .row {
    text-align: center;
}

.rows .row input[type=time] {
    padding: 15px;
    margin: 0 15px;
    /*border-radius: 45px;*/
    font-size: 20px;
    border: 0;
    box-shadow: 0 20px 30px rgb(0 0 0 / 15%);
}

.modes .manual .row .remove {
    text-decoration: none;
    font-size: 40px;
    background: #fff;
    padding: 5px 30px;
    /*border-radius: 45px;*/
    color: #f00;
    box-shadow: 0 20px 30px rgb(0 0 0 / 15%);
}

.mode.manual a.add {
    text-decoration: none;
    font-size: 20px;
    max-width: 100px;
    text-align: center;
    background: #fff;
    padding: 15px 20px;
    margin: 100px auto 0;
    box-shadow: 0 20px 30px rgb(0 0 0 / 15%);
}

.sidebar .save {
    text-decoration: none;
    font-size: 20px;
    max-width: 100px;
    text-align: center;
    background: #fff;
    padding: 15px 20px;
    margin: 100px auto 0;
    box-shadow: 0 20px 30px rgb(0 0 0 / 15%);
}

@media only screen and (max-width: 1000px) {
    .rows .row {
        max-width: 400px;
    }
}