* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    display: none;
}

body {
    background-color: #006eff;
    display: flex;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.sidebar form {
    width: 100%;
}

.sidebar form select {
    padding: 20px 50px;
    font-size: 20pt;
    font-weight: bold;
    width: 100%;
}

.sidebar form option {
    font-size: 15pt;
    padding: 10px 20px;
    width: 100%;
}

.modes {
    width: 100%;
    position: relative;
    flex: 5;
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 20px;
}

.modes label .auto {
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modes label .line {
    border-top: 1px solid;
    margin-bottom: 20px;
}

.modes label .auto input[type="number"] {
    max-width: 70px;
    height: 70px;
    margin: 10px;
    text-align: center;
    font-size: 30pt;
}

.button-box {
    display: flex;
    max-width: 200px;
}

.modes label .auto input[type="submit"],
.modes label .auto input[type="button"] {
    margin: 5px;
    background-color: red;
    padding: 10px 50px;
}

.modes label .manual {
    background-color: green;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


/* .hidden {
    display: none;
} */