* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* input[type="radio"] {
    display: none;
} */

body {
    background-color: #006eff;
    display: flex;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #0047a54b;
}

.sidebar form {
    width: 100%;
}

.sidebar form select {
    padding: 20px 50px;
    font-size: 20pt;
    font-weight: bold;
    width: 100%;
}

.sidebar form option {
    font-size: 15pt;
    padding: 10px 20px;
    width: 100%;
}

.modes {
    width: 100%;
    position: relative;
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modes label .line {
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.modes label .auto {
    padding: 20px;
}

.number-box {
    margin: 20px;
    display: flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 45px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 40px;
    border: none;
    background-color: #ffffff;
    color: #202030;
}

input[type="number"]:focus {
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num-button {
    color: #3264fe;
    background-color: #ffffff;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

#decrement {
    padding: 15px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
}

#increment {
    padding: 15px 25px 15px 5px;
    border-radius: 0 45px 45px 0;
}

.modes label .auto input[type="number"] {
    max-width: 70px;
    height: 70px;
    margin: 10px;
    text-align: center;
    font-size: 30pt;
}

.button-box {
    display: flex;
    max-width: 200px;
}

.modes .content {
    border: 1px solid red;
    max-width: 1500px;
}

.modes label .auto input[type="submit"],
.modes label .auto input[type="button"] {
    margin: 5px;
    padding: 10px 50px;
}

.modes label .manual {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.modes label .manual .values {
    overflow: scroll;
    overflow-x: hidden;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.modes label .manual .values fieldset {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18pt;
    color: white;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
}

.modes label .manual .values fieldset input {
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18pt;
}

.modes label .manual .button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
}

.modes label .manual .button-section button,
.modes label .manual .button-section input[type="submit"] {
    padding: 20px 50px;
    margin: 5px;
    border: none;
    outline: none;
}


/* .hidden {
    display: none;
} */