body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #145bb8;
    height: 100vh;
}

label {
    position: relative;
    width: 150px;
    height: 75px;
    background-color: #212121;
    border-radius: 10px;
}

label input {
    appearance: none;
}

label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
    background-color: #333;
    border: 6px solid #212121;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

label input:checked~span {
    transition: 0.5s ease-in-out;
    left: 75px;
}

span::after {
    content: 'On';
    font-weight: bold;
    color: white;
    filter: drop-shadow(0 0 5px white);
    transition: 0.5s ease-in-out;
}

label input:checked~span::after {
    content: "Off";
    color: black;
    font-weight: bold;
    filter: drop-shadow(0 0 5px black);
    transition: 0.5s ease-in-out;
}