* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #006eff;
    display: flex;
    flex-direction: column;
    color: white;
}

img {
    width: 600px;
    height: 600px;
}

header .quick-temperature {
    margin: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #0d3d7a;
    border-radius: 20px;
}

header .quick-temperature .temperature-box {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    padding: 15px;
    cursor: pointer;
}

header .quick-temperature .indoor-temperature {
    border-right: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

header .quick-temperature .outdoor-temperature {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

header .quick-temperature .value {
    background-color: white;
    color: transparent;
    height: 50px;
    width: 0px;
    position: absolute;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

header .quick-temperature .indoor-temperature .value {
    left: 150px
}

header .quick-temperature .outdoor-temperature .value {
    left: 0
}

header .quick-temperature .label:hover~.value {
    color: black;
    background-color: white;
    height: 50px;
    width: 150px;
    position: absolute;
    border-radius: 20px 0 0 20px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

header .quick-temperature .indoor-temperature .label:hover~.value {
    left: 150px;
    border-radius: 0 20px 20px 0;
}

.content {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1900px;
    padding: 20px;
    height: 600px;
}

.content .about {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    max-width: 900px;
}

.content .about .description {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    max-width: 800px;
    padding: 10px;
    font-size: 18pt;
    margin-bottom: 100px;
}

.content .about .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.content .about .controls li {
    background-color: #006eff;
}

.content .about .controls li .dropdown {
    display: flex;
    flex-direction: column;
    display: inline-block;
    position: relative;
}

.content .about .controls li .stats {
    color: white;
    text-decoration: none;
    padding: 40px 120px;
    border: 1px solid white;
    border-radius: 50px;
}

.content .about .controls li .dropdown button {
    padding: 40px 120px;
    border: 1px solid white;
}

.content .about .controls li .dropdown button,
.content .about .controls li:nth-child(2) {
    border-radius: 50px;
    font-size: 18pt;
    background-color: #145bb8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content .about .controls li .dropdown-content {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid white;
    text-align: center;
}

.content .about .controls li .dropdown:hover .dropdown-content {
    display: block;
}

.content .about .controls li .dropdown:hover button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #FFFFFF;
    background-color: #00439b;
}

.content .about .controls li .dropdown-content a {
    padding: 30px 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.content .about .controls li .dropdown-content a:hover,
.content .about .controls li:nth-child(2):hover {
    transition: 0.3s;
    color: #FFFFFF;
    background-color: #00439b;
}

.logo {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}

footer {
    display: flex;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}

footer ul {
    list-style: none;
    margin: 20px;
}

footer ul li {
    margin: 2px;
}

@media only screen and (max-width: 1900px) {
    img {
        width: 500px;
        height: 500px;
    }
    .content .about {
        max-width: 900px;
    }
    .content .about .description {
        position: relative;
        text-align: center;
        letter-spacing: 2px;
        max-width: 800px;
        padding: 10px;
        font-size: 15pt;
    }
    footer {
        max-width: 500px;
        padding: 20px;
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
    }
    footer ul {
        list-style: none;
        margin: 5px;
        font-size: 12pt;
    }
    footer ul li {
        margin: 3px;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 1600px) {
    img {
        width: 400px;
        height: 400px;
    }
    .logo {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    section.content {
        position: relative;
        top: 0;
        padding: 100px;
    }
    .content .about {
        height: 300px;
        max-width: 900px;
    }
    .content .about .description {
        position: relative;
        text-align: center;
        letter-spacing: 2px;
        max-width: 800px;
        padding: 10px;
        font-size: 15pt;
    }
    .content .about .controls li .stats {
        padding: 30px 120px;
    }
    .content .about .controls li .dropdown button {
        padding: 30px 120px;
    }
    .content .about .controls li .dropdown-content a {
        padding: 30px 90px;
    }
    footer {
        margin: 0;
        margin-top: -50px;
        padding: 10px;
    }
    footer ul {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        height: 30vh;
    }
    img {
        width: 300px;
        height: 300px;
    }
    .logo {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    .content {
        margin: 0;
    }
    .content .about {
        max-width: 900px;
    }
    .content .about .description {
        max-width: 800px;
        padding: 5px;
        font-size: 12pt;
        margin-bottom: 50px;
    }
    .content .about .controls li .stats {
        padding: 30px 100px;
    }
    .content .about .controls li .dropdown button {
        padding: 30px 100px;
    }
    .content .about .controls li .dropdown-content a {
        padding: 30px 90px;
    }
    footer {
        padding: 10px;
        position: absolute;
        bottom: 0%;
        transform: translateY(-100%);
    }
    footer ul {
        margin: 5px;
        font-size: 9pt;
    }
    .content .about .controls li .dropdown-content a {
        padding: 20px 90px;
    }
    header {
        z-index: 1;
    }
}

@media only screen and (max-width: 1400px) {
    .content {
        top: 150px;
    }
    .content .about .controls {
        width: 700px;
    }
    .content .about .controls li .stats {
        padding: 15px 80px;
    }
    .content .about .controls li .dropdown button {
        padding: 15px 80px;
    }
    .content .about .controls li .dropdown-content a {
        padding: 10px 70px;
    }
    footer {
        position: absolute;
        bottom: -15px;
    }
}