body{
    background-color: #010228;
}
div{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
div img{
    border-radius: 50%;
    animation:logo 3s ease-in-out forwards;
}

@keyframes logo {
    0%{
        width: 0px;
        height: 0px;
        }
    25%{
        box-shadow: 0px 0px 500px 100px rgba(7,106,224,1);
    }
    50%{
        box-shadow: 0px 0px 600px 100px rgba(7,106,224,1);
        width: 200px;
        height: 200px;
        transform: rotate(1turn);
    }
    75%{
        box-shadow: 0px 0px 500px 100px rgba(7,106,224,1);
        
    }
    100%{
        width: 0px;
        height: 0px;
        display: none;
    }
}