@import url('https://fonts.googleapis.com/css?family=Poppons:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
}
body{
    background-color: #010228;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
section{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 900px;
    max-height:500px ;
    background-color: #010228;
    border-radius: 20px;
    box-shadow:  0px 0px 50px 15px #076AE0;

}
section .box{
    display: flex;
    max-width: 960px;
    justify-content: space-around;
    margin: 50px auto;

}
section .box .production{
    display: flex;
    flex-direction: column;
}
section .box .production p{
    text-align: left;
    font-size: 10pt;
    letter-spacing: 2px;
    color: #ffffff48;
}
section .description p:nth-child(1){
    margin-bottom: 10px;
}
section .box .production p:nth-child(5){
    margin-top: 10px;
}
section .description{
    font-size: 19pt;
    letter-spacing: 1px;
}
section .description p:nth-child(1){
    text-align: center;
}
section .box button{
    width: 500px;
    height: 100px;
    color: #010228;
    border-radius: 10px;
    outline: none;
    margin-right: 50px;
    font-size: 19pt;
    position: relative;
    background-color: #076AE0;
    transition: 1s;
    border: 5px solid transparent;
}

section .box button:focus{
    border: none;
    outline: none;
}
section .box button:hover + .production{
    color: wheat;
}
section .box :hover{
    background: var(--color);
    transition: 1s;
    color: white;
    box-shadow:0 0 10px var(--color);
    border: 5px solid #010228;
}
