*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
}
body{
    background-color: #252839;
    display: flex;
}
section{
    display: flex;
    padding: 20px;
    max-width: 1700px;
    height:800px ;
    background-color: #252839;
    border-radius: 20px;
    margin: 50px auto;
}

section .box1{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    justify-content: space-around;
    margin: 50px auto;    
}

section .description{
    display: flex;
    flex-direction: column;
    font-size: 19pt;
    letter-spacing: 1px;
}
section .box .production p:nth-child(5){
    margin-top: 10px;
}
section .description p:nth-child(1){
    text-align: center;
}
section .box1 button{
    max-width: 800px;
    height: 200px;
    color: #000;
    font-weight: bold;
    background-color: #1a73e8;
    border-radius: 200px;
    outline: none;
    margin-right: 10px;
    font-size: 19pt;
    position: relative;
    transition: 1s;
    border: 2px solid #1a73e8;
}

section .box1 .production p{
    text-align: left;
    font-size: 10pt;
    letter-spacing: 2px;
    color: #fff;
}

.imgHolder{
    display: flex;
    align-items: center;

}
.imgHolder img{
    width: 600px;
    height: 600px;

}
.typing1,
.typing2,
.typing3,
.typing4 {
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 10pt;
    visibility: hidden;
    margin: 5px;
}
.typing1{
    width:16ch;
    animation: typing 0.5s steps(15) forwards;
}
.typing2{
    width:54ch;
    animation: typing 1s steps(54) forwards;
    animation-delay: 0.5s;
}
.typing3{
    width:11ch;
    animation: typing 0.5s steps(11) forwards;
    animation-delay: 1.5s;
}
.typing4{
    width:29ch;
    animation: typing 0.5s steps(29) forwards;
    animation-delay: 2s;
}
@keyframes typing {
    0% {
        width: 0;
        visibility: hidden;
        border-right: 3px solid white;
    }
    100%{
        visibility: visible;
        border-right: none;
    }
}