* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background: #252839;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}

button {
    border: 1px solid transparent;
    outline: none;
}

img {
    max-width: 50px;
}

.line {
    width: 0;
    height: 60px;
    border-left: 1px solid #000;
    position: relative;
    left: 80%;
    transform: translate(-80%);
}

.dropbtn {
    width: 600px;
    height: calc(240px/3);
}

.dropdown {
    margin: 10px;
    width: 600px;
    cursor: pointer;
}

.dropbtn {
    position: relative;
    align-items: center;
    overflow: auto;
    border-radius: 20px;
    z-index: 1;
    background-color: white;
    font-size: 12pt;
}

.dropdown .dropbtn p {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    font-size: 2em;
}

.dropdown .dropbtn img {
    position: absolute;
    left: 93%;
    top: 50%;
    transform: translate(-93%, -50%);
}

.dropdown .dropbtn #up {
    visibility: hidden;
}

.dropdown-menu {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 150px;
    left: 0;
    top: -20px;
    background-color: white;
    visibility: hidden;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10%);
    pointer-events: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dropdown-menu button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 600px;
    color: black;
    font-size: 20pt;
}

.dropdown-menu button:nth-child(2) {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dropdown>.dropbtn:focus+.dropdown-menu {
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu button:hover {
    font-weight: bold;
}

.checkBox {
    opacity: 1;
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.checkBox .group {
    border: 1px solid red;
    padding: 20px;
    z-index: 1;
    position: absolute;
    margin: 50px;
    top: -150px;
    left: 100px;
}