*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
    background: #252839;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*    animation: move 2s linear forwards;
*/
img{
    height: 50px;
    width: 50px;
}
.line{
    width: 0;
    height: calc(180px/3);
    border-left: 1px solid #000;
    position: absolute;
    left: 80%;
    top: 5%;
    transform: translateY(-5%);
}
nav{
    position: relative;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid red;
    width: 600px;
    height: 250px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main button{
    position: relative;
}
.main img {
    position: absolute;
    left: 100%;
    top: 5%;
    transform: translateX(-170%);
}
nav ul li button{
border: 1px solid green;
width: 600px;
height: calc(250px/3);
}
.subMenu li:nth-child(1),
.subMenu li:nth-child(2){
    visibility: hidden;
}
@keyframes move {
    from{
        position: relative;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
    }
    to{
        top: 20px;
        left:50px;
        transform: translateX(-30px);
    }
}