* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #145bb8;
    display: flex;
}

.temp-box {
    margin: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #0d3d7a;
    border-radius: 20px;
}

.temp-box .box-chose:nth-child(1) {
    border-right: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.temp-box .box-chose:nth-child(2) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box-chose {
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
    padding: 15px;
    text-align: center;
}

#bxc1 {
    background-color: white;
    color: transparent;
    height: 50px;
    width: 0px;
    position: absolute;
    left: 150px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#-bxc1:hover #bxc1 {
    color: black;
    background-color: white;
    height: 50px;
    width: 150px;
    position: absolute;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#bxc2 {
    background-color: white;
    color: transparent;
    height: 50px;
    width: 0px;
    left: 149px;
    position: absolute;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#-bxc2:hover #bxc2 {
    height: 50px;
    width: 151px;
    left: 0px;
    color: black;
    background-color: white;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

section {
    color: white;
    display: flex;
    padding: 20px;
    max-width: 1700px;
    height: 800px;
    background-color: transparent;
    border-radius: 20px;
    margin: 50px auto;
}

section .box1 {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    justify-content: space-around;
    margin: 50px auto;
}

section .description {
    display: flex;
    flex-direction: column;
    font-size: 19pt;
    letter-spacing: 1px;
}

section .box .production p:nth-child(5) {
    margin-top: 10px;
}

section .description p:nth-child(1) {
    text-align: center;
}

section .box1 ul {
    display: flex;
}

section .box1 ul li {
    display: flex;
    list-style: none;
    flex: 1;
}

section ul li a {
    padding: 50px 180px 50px 180px;
    background-color: #1a73e8;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    letter-spacing: 5px;
    border-radius: 70px;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
}

section ul li a:hover {
    background: var(--color);
    box-shadow: 0 0 10px var(--color), 0 0 30px var(--color), 0 0 60px var(--color);
}

section ul li a::before {
    content: "";
    position: absolute;
    width: 40px;
    top: -180px;
    height: 500px;
    background: var(--color);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

a:hover::before {
    width: 120px;
}

a::after {
    content: "";
    position: absolute;
    inset: 5px;
    color: #fff;
    background: #0d3d7a;
    border-radius: 70px;
    transition: 0.5s;
}

a:hover::after {
    background: var(--color);
}

a span {
    position: relative;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}

a span:hover {
    opacity: 1;
}

section .box1 .production p {
    text-align: left;
    font-size: 10pt;
    letter-spacing: 2px;
    color: #fff;
}

.imgHolder {
    display: flex;
    align-items: center;
}

.imgHolder img {
    width: 600px;
    height: 600px;
}

.typing1,
.typing2,
.typing3,
.typing4 {
    white-space: nowrap;
    font-size: 10pt;
    overflow: hidden;
    visibility: hidden;
    margin: 5px;
}

.typing1 {
    width: 16ch;
    animation: typing 0.5s steps(15) forwards;
}

.typing2 {
    width: 54ch;
    animation: typing 1s steps(54) forwards;
    animation-delay: 0.5s;
}

.typing3 {
    width: 11ch;
    animation: typing 0.5s steps(11) forwards;
    animation-delay: 1.5s;
}

.typing4 {
    width: 29ch;
    animation: typing 0.5s steps(29) forwards;
    animation-delay: 2s;
}

@keyframes typing {
    0% {
        width: 0;
        visibility: hidden;
        border-right: 3px solid white;
    }
    100% {
        visibility: visible;
        border-right: none;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}


/* @media only screen and (max-width: 2000px) {
    img {
        max-width: 500px;
        max-height: 500px;
    }
    p {
        font-size: 16px;
    }
    section {
        margin-top: -20px;
    }
    section .box1 {
        margin-top: 100px;
        margin-bottom: 100px;
        display: block;
        flex-direction: column;
    }
} */